@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Bungee&family=Changa:wght@500&family=Quantico:ital@1&family=Roboto:wght@500&display=swap");
.title {
  font-family: 'Bungee', cursive;
  font-size: 4em;
  letter-spacing: 25px;
  text-shadow: 2px 1px 2px #0C0C0C;
}

.login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  vertical-align: middle;
  width: 100vw;
  height: 100vh;
}

.button-login {
  color: #f5f5f5;
  font-weight: bold;
  background-color: #20b2aa;
  border: 2px solid #f5f5f5;
  border-radius: 5px;
  display: block;
  margin: 5px;
  font-size: 12pt;
  padding: 10px 60px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 100px;
  cursor: pointer;
}

.button-login:hover {
  background-color: #008B8B;
}

.input-form {
  padding: 8px;
  width: 200px;
  margin-bottom: 5px;
  border: 1px solid #000;
  border-radius: 5px;
}

.wallet-gif {
  height: 300px;
  width: 300px;
  margin-bottom: 50px;
}

.form-wallet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #dcdcdc;
  padding: 20px;
}

.header-wallet {
  padding: 30px;
  background-color: #20b2aa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.label-form {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
}

.header-wallet input,
select {
  padding: 5px;
  margin: 2px;
  border-radius: 5px;
  border: 1px solid;
}

.header-wallet input:hover,
select:hover {
  border: 1px solid #87cefa;
}

.input-wallet-form {
  padding: 5px;
  margin: 2px;
  border-radius: 5px;
  border: 1px solid;
}

.input-wallet-form:hover {
  border: 1px solid #87cefa;
}

.button-expenses {
  color: #f5f5f5;
  font-weight: bold;
  background-color: #20b2aa;
  border-radius: 5px;
  padding: 12px;
  cursor: pointer;
  border: 2px solid #f5f5f5;
}

.button-expenses:hover {
  background-color: #008B8B;
}

.sum-total {
  color: #f5f5f5;
  font-weight: bolder;
}

.email-value {
  margin-right: auto;
  color: #f5f5f5;
  font-weight: bold;
}

.table-new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.table-cel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px;
}

.table-add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.button-delete {
  padding: 8px 10px;
  margin: 5px;
  color: #f5f5f5;
  background-color: #20b2aa;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.button-delete:hover {
  background-color: #CD0000;
  color: #0C0C0C;
  opacity: 0.7;
}

.button-edit {
  padding: 8px 10px;
  margin: 5px;
  color: #f5f5f5;
  background-color: #20b2aa;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.button-edit:hover {
  background-color: #DAA520;
  color: #0C0C0C;
  opacity: 0.6;
}
/*# sourceMappingURL=main.css.map */